.earthquakeBtn {
    display: block;
    width: 100%;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .6rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin-bottom: 0.5rem;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}
.earthquakeBtn:hover {
    color: #ffffff;
    background-color: rgba(50, 143, 184, 0.7);
}

.earthquakeBtn.active {
    color: #ffffff;
    background-color: #2E86AB;
}
