.title {
    color: #333333;
}

.mapContainer {
    text-align: center;
    margin-bottom: 1rem;
}

.mapImg {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.detailContainer {
    margin-bottom: 1rem;
}

.detailsLabel {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.detailsValue {
    font-size: 0.9rem;
    margin: 0;
}
