.title {
    color: #333333;
}

.detailContainer {
    margin-bottom: 1rem;
}

.detailsLabel {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.detailsValue {
    font-size: 0.9rem;
    margin: 0;
}
