.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333;
    padding: 15px 20px;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    position: relative;
}

.container {
    height: 100%;
    box-sizing: border-box;
}

.mapContainer {
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.mapImg {
    width: 100%;
    display: block;
}

.details {
    height: calc(100% - 58px);
    padding: 15px 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.detail {
    margin-bottom: 1rem;
}

.detailLabel {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.detailValue {
    font-size: 0.9rem;
    margin: 0;
}
