.App {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #fafafa;
    z-index: 0;
}

.leftPanel {
    width: 50%;
    min-width: calc(100% - 700px);
    height: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.rightPanel {
    background-color: #fff;
    border-left: 1px solid #e8ecee;
    border-top: 1px solid #e8ecee;
    bottom: 0;
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
    left: 100%;
    max-width: 450px;
    position: absolute;
    top: 0;
    transition: .2s ease-in;
    width: 55%;
    z-index: 600;
    display: flex;
    flex-direction: column;
    transition: .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.rightPanel.open {
    transform: translateX(-100%);
}
